html, body {
  height: 100%;
  width: 100%;
}

body{
  background-color: #322f2f;
}

#container-noticias , #container-noticia_destaque {
  max-width: 70%;
  background-color: #fffffa;
  border: 2px solid #33a6db;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

#imagem_destaque{
  width: 70%;
  height: 60%;
}

a {
  text-decoration: none;
  background-color: #33a6db;
  text-align: center;
  border: 2px solid #322f2f;
  border-radius: 30px;
  padding: 3px;
  color: #322f2f;
}

h3{
  text-align: center;
}

h1{
 width: 98%;
  background-color: #fffffa;
  border: 2px solid #33a6db;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 50px;
}